* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(47, 37, 27, 0.51);
}

.landingPage {
  padding: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navigation--left {
  display: flex;
}

.header--text h1 {
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.navigation--right {
  display: flex;
  margin: 0.3rem;
}

.nav {
  margin: 0.3rem;
}

li {
  list-style-type: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
}

button {
  margin-top: 0.2rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.heading--text {
  padding: 1rem ;
}

.heading--text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}

.heading--text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.74);
}

.heading--image {
  margin-right: 5rem;
  border-radius: 400px;
}

span img {
  margin-top: 2rem;
  background: #FFFFFF;
}

.menu--text {
  margin-top: 4rem;
  text-align: center;
}

.menu--text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.87);
}

.menu--text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: rgba(255, 255, 255, 0.83);
}

.menu--description {
  text-align: center;
  margin-top: 5rem;
}

.menudata {
  padding: 2rem;
  align-items: center;
}

.menu--title1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menudata h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 33px;
  text-align: center;
  color: #FBDDBB;
}

.menudata p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: rgba(255, 255, 255, 0.83);
}

.menudata img {
  border-radius: 400px;
}

.update {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 3rem;
  margin-top: 5rem;
}

input {
  padding: 0.3rem;
  margin: 0.2rem;
}

input .notify {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #00302E;
}

input .mail {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #B2B2B2;
}

.update--text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  color: #FBDDBB;
}

.update--text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.95);
}