* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(251, 221, 187, 0.51);
}

.landingPage {
  padding: 1rem;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.navigation--left {
  display: flex;
}

.header--text h1 {
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.navigation--right {
  display: flex;
  margin: 0.3rem;
}

.nav {
  margin: 0.3rem;
}

li {
  list-style-type: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 33px;
}

button {
  margin-top: 0.2rem;
  padding: 0.5rem;
  margin-left: 1rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.heading--text {
  padding: 1rem ;
}

.heading--text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}

.heading--text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.74);
}

.heading--image {
  margin-right: 5rem;
  border-radius: 400px;
}

span img {
  margin-top: 2rem;
  background: #FFFFFF;
}

.menu--text {
  margin-top: 4rem;
  text-align: center;
}

.menu--text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.87);
}

.menu--text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  text-align: center;
  color: rgba(255, 255, 255, 0.83);
}